image: node:20

stages:
  - check
  - build
  - deploy
  - test

ESLint:
  stage: check
  script:
    - npm ci
    - npm run eslint:check

Type Check:
  stage: check
  script:
    - npm ci
    - npx tsc -noEmit

NPM Audit:
  stage: check
  allow_failure: true
  script:
    - npm audit

Build Library:
  stage: build
  only:
    - main
  script:
    - npm ci
    - npx tsc
  artifacts:
    paths:
      - dist/

Deploy (NPM):
  stage: deploy
  dependencies:
    - Build Library
  only:
    - main
  script:
    - echo -e "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > dist/.npmrc
    - cp package.json dist/
    - cd dist/
    - npm version 1.0.$CI_PIPELINE_ID || true
    - npm publish --access public

Test:
  stage: test
  image: docker
  script:
    - apk add --no-cache nodejs npm python3
    - apk add --no-cache --repository=https://dl-cdn.alpinelinux.org/alpine/edge/community kubectl kind
    - npm ci
    - kind delete cluster --name kube-templates-test || true
    - kind create cluster --name kube-templates-test --wait 5m --kubeconfig /root/.kube/config
    - printf "FROM node:lts-alpine\nRUN apk add --no-cache --repository=https://dl-cdn.alpinelinux.org/alpine/edge/community kubectl\nCOPY package.json package-lock.json ./\nRUN npm ci\nCOPY /root/.kube/config /root/.kube/config\nCOPY . /app" > Dockerfile
    - docker build -t testimage .
    - docker run --rm --net=kind --entrypoint="" testimage sh -c "cd /app; npx ts-node tests/setup.ts; npx jest -w10"
