image: node

stages:
  - build
  - deploy
  - test

Build Library:
  stage: build
  only:
    - master
  script:
    - npm ci
    - npx tsc -p tsconfig.json
  artifacts:
    paths:
      - dist/

Deploy (NPM):
  stage: deploy
  dependencies:
    - Build Library
  only:
    - master
  script:
    - echo -e "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > dist/.npmrc
    - cp package.json dist/
    - cd dist/
    - npm version 1.0.$CI_PIPELINE_ID || true
    - npm publish --access public

Test:
  stage: test
  image: docker
  script:
    - apk add nodejs npm curl
    - curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.8.1/kind-$(uname)-amd64 && chmod +x ./kind && mv ./kind /bin/kind
    - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl && chmod +x ./kubectl && cp ./kubectl /bin/kubectl
    - npm ci
    - npx ts-node tests/setup.ts
    - printf "FROM node:alpine\nCOPY . /app" > Dockerfile
    - docker build -t testimage .
    - docker run --rm --net=kind --entrypoint="" testimage sh -c "cd /app; cp ./kubectl /bin/kubectl; npx jest -w10"
