image: node

stages:
  - build
  - deploy

Build Library:
  stage: build
  only:
    - master
  script:
    - npm ci
    - npx tsc -p tsconfig.json
  artifacts:
    paths:
      - dist/

Deploy (NPM):
  stage: deploy
  dependencies:
    - Build Library
  only:
    - master
  script:
    - echo -e "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > dist/.npmrc
    - cp package.json dist/
    - cd dist/
    - npm version 1.0.$CI_PIPELINE_ID || true
    - npm publish
